.counter-icon {
    font-size: 12px;
}

.counter-number {
    margin-left: 5px;
    margin-right: 5px;
}

.counter {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    position: relative;
    right: 5px;
}

